div.img-frame {
	padding: 0 10px;
	background-color: rgba(0, 62, 109, 0.5);
	margin-bottom: 3px;
	border-radius: 5px;
	border: 1px solid #fff;
}
div.img-wrapper {
	background-color: transparent;/*#a9c8e0;*/
	color: #000099;
	margin: 0;
	padding: 10px;
}
div.img-icon {
	float: left;
}
img.imagebox-img-wrapper {
	border-radius: 5px;
	box-shadow: 2px 2px 3px #000;
	max-height: 126.5px;
}
span.title {
	font-size: 24px;
	color: #00ffff;
}
div.img-panel div.panel {
	box-shadow: 2px 2px 3px #000;
}
div.imagebox-top-img img {
	max-height: 126.5px;
	width: auto;
	margin: 0 auto;
}