    <!-- Page Content -->
    <div class="container-fluid" id="eldis_webapp_home_container">
        <!-- Content Row -->
        <div class="row" id="eldis_webapp_home_content">
            <!-- Sidebar Column -->
            <div nav-sidebar nav-sidebar-css="col-md-3"></div>
            
            <!-- Content Column -->
            <div class="panel col-md-9">
                <h2>Welcome</h2>
                <p>This is my Angular JS, Node JS and MySQL web app. I wrote this to showcase my abilities with JavaScript.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->