    <style>
        #slide {
            width: 100%;
            max-height: 300px;
            max-width: 600px;
            overflow: hidden;
            position: relative;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        #slideshow ul {
            margin: 0;
            padding: 0;
        }
        #slideshow li {
            list-style: none;
            width: 100%;
        }
        #slideshow img {
            width: 100%;
            max-height: 300px;
            max-width: 600px;
        }
        #slideshow_panel {
            width: 100%;
            max-width: 600px;
            padding: 15px 20px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            background-color: rgb(240, 240, 240)
        }
    </style>
    
    <!-- Container -->
    <div class="container-fluid" id="eldis_webapp_home_container">
        <!-- Content Row -->
        <div class="row" id="eldis_webapp_home_content">
            <!-- Sidebar Column -->
            <div bud-nav-sidebar nav-sidebar-css="col-xs-3"></div>
            <!-- Content Column -->
            <div class="col-xs-8">
                <!-- /.Row -->
                <div class ="row">
                    <!-- Slideshow -->
                    <div id="slide">
                        <div id="slideshow">
                            <ul id="slideshow_ul">
                                <li>
                                    <img src="../images/carousel_0.jpg" alt="0">
                                </li>
                                <li>
                                    <img src="../images/carousel_1.jpg" alt="1">
                                </li>
                                <li>
                                    <img src="../images/carousel_2.jpg" alt="2">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.Slideshow -->
                </div>
                <!-- /.Row -->
                <div class="row">
                    <div class="panel" id="slideshow_panel">
                        <h2>Welcome</h2>
                        <p>This is my Angular JS, Node JS and MySQL web app. I wrote this to showcase my abilities with the JavaScript language.</p>
                    </div>
                </div>
                <!-- /.Row -->
            </div>
            <!-- /.Content -->
        </div>
        <!-- /.Content Row -->
    </div>
    <!-- /.Container -->