    <!-- Container -->
    <div class="container" id="eldis_webapp_home_container">
        <bud-headbar headbar="{ title: 'Eldis Rice', subtitle: 'aka&nbsp;&quot;Buddy&quot;' }"></bud-headbar>
        <!-- Content Row -->
        <div class="row" id="eldis_webapp_home_content">
            <!-- Sidebar Column -->
            <bud-nav-sidebar nav-sidebar-contain-css="col-xs-3"></bud-nav-sidebar>
            <!-- carousel -->
            <div bud-carousel slideshow-splash="true" slide-show-contain-css="col-xs-8" carousel-array="carousel" interval="3200" stop-interval="stop_interval">
                <h3>Welcome</h3>
                <p>This is my Angular JS, Node JS and MySQL web app.</p>
                <p>I wrote this to showcase my abilities with the JavaScript language.</p>
            </div>
            <!-- /.Content -->
        </div>
        <!-- /.Content Row -->
    </div>
    <!-- /.Container -->