<style parse-style>
	a.bar_class {
		background-color: {{ css.backcolor }};
		color: {{ css.charcolor}};
	}
	a.bar_class:visited {
		background-color: {{ css.backcolor }};
		color: {{ css.charcolor}};
	}
	a.bar_class:hover {
		background-color: {{ css.backhover }};
		color: {{ css.charhover}};
	}
	a.bar_class:focus {
		background-color: {{ css.backhover }};
		color: {{ css.charhover}};
	}
</style>
<div id="navsidebar" ng-class="bsgrid">
	<div class="list-group">
		<a ng-repeat="bar in sidebars.nav_array" href ng-click="view(bar.hash)" class="bar_class list-group-item">{{bar.label}}</a>
	</div>
</div>