<style parse-style>
	a.navsidebar_bar_class {
		background: linear-gradient(#000, {{ css.backcolor }});
		color: {{ css.charcolor }};
	}
	a.navsidebar_bar_class:visited {
		background: linear-gradient(#000, {{ css.backcolor }});
		color: {{ css.charcolor}};
	}
	a.navsidebar_bar_class:hover {
		background: {{ css.backhover }};
		color: {{ css.charhover }};
	}
	a.navsidebar_bar_class:focus {
		background: {{ css.backhover }};
		color: {{ css.charhover }};
	}
</style>
<div id="navsidebar" ng-class="bsgrid" ng-hide="current_location">
	<div class="list-group">
		<a ng-repeat="bar in sidebars" href ng-click="view(bar.hash)" class="navsidebar_bar_class list-group-item">{{bar.label}}</a>
		<img src="../../../images/eldis_sig.jpg" alt="eldis" id="eldis_sig">
	</div>
	
</div>