#eldis_webapp_about_page {
	max-width: 1012px;
	height: 76vh;
}
.about-talents {
	width: 100%;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: 100;
	padding: 3px;
	background: #000;
	color: #fff;
	margin-bottom: 6px;
}