    <!-- Page Content -->
    <div class="container" id="eldis_webapp_about_page">
        <!-- Intro Content -->
        <div class="row">
            <div class="col-sm-3" id="eldis_webapp_about_pic1">
                <img class="img-responsive" src="../images/about_1.jpg" alt="about head">
            </div>
            <div class="col-sm-6">
                <h2>Eldis "Buddy" Rice</h2>
                <p>My start in programming came from a need I had when I owned Pro Floor Technology, a concrete surface preparation company. I needed a website for marketing purposes so a friend sat up with me on VOIP at night and taught me HTML4 and CSS. Later I found I needed to keep inventory so I learned AutoIT to fill in an Excel spreadsheet from a form.</p>
                <p>During the contruction market crash in 2008, I decided to get out of my trade and try sometheing new, so I went to work for an E-Waste recycling company as the testing department manager. There I found reasons to use what I had learned with AutoIT to automate some processes, one included reading a scale through the serial port to automate the weight entry.</p>
                <p>AutoIT did what I needed for a while, including connecting to a MsSQL database, but it wouldn't allow me to build web applications so I decided to go to school (Kaplan University Online). They taught me the basics for XHTML, HTML5, CSS3, JAVA, C# and VB. This was enough for me to go look for work as a programmer.</p>
                <p>The first place I applied to was ATR (Applied Technology Resources) where I received the job. Immediately they needed me to learn VBA to work on changes to their existing database. After six months they decided to start a new system using JavaScript, so they had me take tutorials. In very little time I was building apps with Knockout, Ajax, Node JS and MySQL.</p>
                <p>Eventually we decided to use Angular JS 1.7 / Node JS / MySQL to build the new system. To connect to the old database to the new system and create Excel spreadheets, I wrote API's in C#.</p>
                <p>Here are some projects I programmed for ATR:</p>
                <ul>
                    <li>ATR's management system - HTML5 | CSS3 | AngularJS 1.7 | Node JS | SocketIO | MySQL</li>
                    <li>ATR's web scrapers - Node JS | Cheerio JS</li>
                    <li>ATR's timeclock and manager - HTML5 | CSS3 | AngularJS 1.7 | Node JS | MySQL</li>
                    <li>ATR's old system - VBA</li>
                    <li>Photoshop tasks</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
