<!-- Page Content -->
<div class="container" id="eldis_webapp_about_page">
    
    <div class="row">
        <div class="col-md-3 col-lg-2"></div>
        <div class="col-md-6 col-lg-8">
            <div bud-headbar headbar="{ title: 'Eldis Rice', subtitle: 'aka&nbsp;&quot;Buddy&quot;' }"></div>
        </div>
        <div class="col-md-3 col-lg-2"></div>
    </div>
    
    <div class="row">
        <div class="col-md-3 col-lg-2"></div>
        <titled-imagebox frame-css="col-md-6 col-lg-8" imagebox="imagebox[3]">
            <div class="row">
                <h5 class="text-center">
                    <strong>HTML5 | CSS3 | JavaScript | JQuery | Bootstrap<br>Angular JS 1.7 | Node JS | Cheerio JS<br>C# | VB | VBA | MySQL</strong>
                </h5>
                <p class="text-center"><strong>9/2014 to 5/2018</strong><br>
                <strong>Applied Technology Resources, Inc</strong><br>Programmer</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <ul>
                            <li>VBA Ms Access - existing system to reproduce to a web application</li>
                            <li>C# - API's to access the old databases, server side Excel spreadheet creation</li>
                            <li>Node JS - API's, services, file servers, web scrapers, Socket IO</li>
                            <li>HTML5 / CSS3 / Angular JS 1.7 - Frontend framework for new management system to replace Ms Access</li>
                            <li>Knockout JS - Data binding used in web applications</li>
                            <li>GIT - Bitbucket was used</li>
                            <li>Bug Tracker - bug management</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        <ul>
                            <li>VBA Ms Access - existing system to reproduce to a web application</li>
                            <li>C# - API's to access the old databases, server side Excel spreadheet creation</li>
                            <li>Node JS - API's, services, file servers, web scrapers, Socket IO</li>
                            <li>HTML5 / CSS3 / Angular JS 1.7 - Frontend framework for new management system to replace Ms Access</li>
                            <li>Knockout JS - Data binding used in web applications</li>
                            <li>GIT - Bitbucket was used</li>
                            <li>Bug Tracker - bug management</li>
                        </ul>
                    </p>
                </div>
            </div>
        </titled-imagebox>
        <div class="col-md-3 col-lg-2"></div>
    </div>
    
<!--    <div class="nopad row">
        <div class="col-md-3 col-lg-2"></div>
        <div class="col-md-6 col-lg-8">
            <titled-imagebox frame-css="col-md-6 col-lg-4" imagebox="imagebox[0]">
                <h5 class="text-center"><strong>HTML4 | CSS | AutoIT</strong></h5>
                <p class="text-center"><strong>9/2001 to 7/2008</strong><br>
                <strong>Pro Floor Technology, Inc.</strong><br>Owner/Operator<br>concrete surface preparation</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;A website for marketing purposes was needed, so a friend sat up with me on VOIP at night and taught me HTML4 and CSS.</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Inventory was kept in Excel, so I needed a program to fill in an Excel spreadsheet from a form. The lack of exposure to other programmers and the technologies I chose AutoIT from advice from a friend.</p>
            </titled-imagebox>
            <titled-imagebox frame-css="col-md-6 col-lg-4" imagebox="imagebox[1]">
                <h5 class="text-center"><strong>HTML4 | CSS | AutoIT | MsSQL</strong></h5>
                <p class="text-center"><strong>8/2008 to 7/2012</strong><br>
                <strong>Technology<br>Conservation Group, Inc.</strong><br>E Test Manager<br>equipment and ic testing<br>hdd destruction certification</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;AutoIT worked well to create forms that connected to a MsSQL database. AutoIT was used to read bar codes for website data entry scripts to set up ebay sales and read scales to get accurate weights through a serial port.</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;AutoIT was cool but it could not do what I really wanted to program... web applications. Had to go to school.</p>
            </titled-imagebox>
            <titled-imagebox frame-css="col-md-6 col-lg-4" imagebox="imagebox[2]">
                <h5 class="text-center"><strong>XHTML | HTML5 | CSS3<br>Java | C# | VB</strong></h5>
                <p class="text-center"><strong>9/2012 to 9/2014</strong><br>
                <strong>Kaplan University</strong>&nbsp;&nbsp;99 credits 3.2gpa</p>
                <ul>
                    <li>C# - all 3 levels offered</li>
                    <li>VB - all 3 levels offered</li>
                    <li>Java - all 3 levels offered</li>
                    <li>XHTML / CSS3 - all 3 levels offered</li>
                    <li>HTML5 / CSS3 - all 3 levels offered</li>
                    <li>Math - Algebra, Business logic</li>
                    <li>Databases - all 3 levels offered</li>
                    <li>Networks - all 3 levels</li>
                    <li>Project Management - 2 levels</li>
                    <li>Human Relations - 4 courses</li>
                    <li>Microsoft Office - 1 course</li>
                    <li>Microsoft Windows - 1 course</li>
                    <li>Sciences - 2 levels</li>
                </ul>
            </titled-imagebox>
        </div>
        <div class="col-md-3 col-lg-2"></div>
    </div>-->
    <!-- /.row -->
</div>
<!-- /.container -->

<!-- Sidebar Column -->
<div bud-nav-sidebar bsgrid-class="hidden-xs hidden-sm"></div>
