body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 100;
	color: #fff;
	background-color: #000;
	background-image: url('../images/bkgspace.jpg');
	background-attachment: fixed;
	background-size: cover;
}
#eldis_webapp_ngview {
	overflow-y: scroll;
}

/* css class to give directive bud-breadcrumbs */
.budbreadcrumb {
	background-color: transparent;
}
.budbreadcrumb a,
.budbreadcrumb a:link
.budbreadcrumb a:visited {
	/*font-family: 'Calibri';*/
	font-size: 12px;
	font-weight: 600;
	text-decoration: none;
	color: #ccc;
}
.budbreadcrumb a:hover,
.budbreadcrumb a:active {
	text-decoration: none;
	color: #00ffff;
	/*text-shadow: 0 0 1px #0000ff;*/
}
.eldis_webapp_responsive_img {
	width: 100%;
	height: auto;
}
.thin-spaced-x {
	padding: 3px;
}
.nopad {
	padding:0;
}
.404 {
	max-width: 1012px;
}