














<div class="container" id="eldis_web_app_admin_page">
	
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-8 col-md-offset-3 col lg-offset-2">
			<table class="table table-dark">
				<thead>
					<tr>
						<th>
							username
						</th>
						<th>
							email
						</th>
						<th>
							last login
						</th>
						<th>
							signed up
						</th>
						<th>
							access
						</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

<!-- Sidebar Column -->
<div bud-nav-sidebar bsgrid-class="hidden-xs hidden-sm"></div>