    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-hide="current_location">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#eldis_webapp_nav_collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href ng-click="view('home')">Eldis Webapp</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="eldis_webapp_nav_collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href ng-click="view('about')">About</a>
                    </li>
                    <li>
                        <a href ng-click="view('services')">Services</a>
                    </li>
                    <li>
                        <a href ng-click="view('contact')">Contact</a>
                    </li>
                    <li>
                        <a href ng-click="view('pricing')">Pricing</a>
                    </li>
                    <li>
                        <a href ng-click="logout()">Log out</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>