<style parse-style>
	li a.bar_class {
		background-color: {{ css.backcolor }};
		color: {{ css.charcolor }};
	}
	li a.bar_class:visited {
		background-color: {{ css.backcolor }};
		color: {{ css.charcolor }};
	}
	li a.bar_class:hover {
		background-color: {{ css.backhover }};
		color: {{ css.charhover }};
	}
	li a.bar_class:focus {
		background-color: {{ css.backhover }};
		color: {{ css.charhover }};
	}
    nav.navbar {
        background-color: {{ css.backcolor }};
        color: {{ css.backcolor }};
    }
	a span.navbar-title {
		color: {{ css.charcolor }};
	}
	a span.navbar-title:visited {
		color: {{ css.charcolor }};
	}
	a span.navbar-title:hover {
		color: {{ css.charhover }};
	}
	a span.navbar-title:focus {
		color: {{ css.charhover }};
	}
</style>
<!-- Navigation -->
<nav class="navbar navbar-fixed-top" id="budnavbar" role="navigation" ng-hide="current_location">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#eldis_webapp_nav_collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href ng-click="view('home')">
			<div class="navbar-img-icon">
				<img ng-src="{{navbarIcon}}" alt="{{navbarIconAlt}}" width="35" height="35">&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
			<span class="navbar-title">{{navTitle}}</span>
			</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="eldis_webapp_nav_collapse">
            
            <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="link in links">
                    <a class="bar_class" href ng-click="view(link.hash)"><strong>{{link.label}}</strong></a>
                </li>

            </ul>
            
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
