<div class="container" id="eldis_webapp_technologies_page">
    <div class="row">
        <div class="col-lg-auto"></div>
    </div>
</div>

<!-- save -->

<!--        <div class="col-md-3 col-lg-2"></div>
        <div titled-imagebox frame-css="col-md-6 col-lg-8" imagebox="imagebox[0]">
            <div class="row">

                <div class="col-md-6">
                    <p>
                        <ul>
                            <li>JavaScript | JQuery</li>
                            <li>Node JS:
                                <ul>
                                    <li>MySQL connection</li>
                                    <li>web scrapers</li>
                                    <li>API's | services | file servers</li>
                                    <li>Socket&nbsp;IO</li>
                                    <li>Console apps</li>
                                </ul>
                            </li>
                            <li>Angular JS 1.7</li>
                            <li>Knockout JS</li>
                            <li>AJAX</li>
                            <li>MySQL</li>
                            <li>HTML5 | XHTML | CSS3 | CSS transitions</li>
                            <li>PhotoShop</li>
                            <li>GIT - GitHub / Bitbucket</li>
                            <li>NPM</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        <ul>
                            <li>Visual Studio 2017</li>
                            <li>C# - Access connection | MsSQL connection | API's, Excel
                                <ul>
                                    <li>Access, MsSQL, MySQL db connections</li>
                                    <li>Windows forms | .ASP</li>
                                    <li>Console apps</li>
                                </ul>
                            </li>
                            <li>C# / VB - Windows forms | .ASP</li>
                            <li>Bug Tracker - bug management</li>
                            <li>VBA Ms Access</li>
                            <li>AutoIT</li>
                            <li>VirtualBox</li>
                            <li>Ms Office Suite</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-2"></div>-->